:root {
    --maroon: #801328;
    --dark-maroon: #48111c;
    --silver: #d5dfe7;
    --cream: #f4ecd0;
    --teal: #27575a;
    --royal: #118acb;
    --redOrange: #f04e3e;
    --sky: #bde3dc;
    --marigold: #f9c634;
    --storm: #708e9a;
    --salmon: #f68d76;
    --navy: #004761;
    --ethos: #5ec4b6;

    color: var(--maroon);
    font-family: sofia-pro;
    font-size: 17px;
    font-weight: 600;
}
@font-face {
    font-family: 'Standard CT';
    src: url('../bb/fonts/standardextracond-medium-2015.02.25-webfont.woff2') format('woff2'),
        url('../bb/fonts/standardextracond-medium-2015.02.25-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.condensed {
    font-family: 'Standard CT';
    line-height: .85;
}
#canvas {
    width: 375px;
    height: 667px;
}
/* #canvas * {
    transition: all .15s ease-out;
} */
.thumb {
    width: 56px;
    height: 100px;
}
/* tailwind overrides */
.tracking-widest {letter-spacing: .22em;}
.rounded-4xl	{border-radius: 2rem;}

.text-maroon      {color: var(--maroon);}
.text-dark-maroon {color: var(--dark-maroon);}
.text-silver      {color: var(--silver);}
.text-cream       {color: var(--cream);}
.text-teal        {color: var(--teal);}
.text-royal       {color: var(--royal);}
.text-redOrange   {color: var(--redOrange);}
.text-sky         {color: var(--sky);}
.text-marigold    {color: var(--marigold);}
.text-storm       {color: var(--storm);}
.text-salmon      {color: var(--salmon);}
.text-navy        {color: var(--navy);}
.text-ethos       {color: var(--ethos);}
.text-gray        {color: #333;}

.bg-maroon      {background-color: var(--maroon);}
.bg-dark-maroon {background-color: var(--dark-maroon);}
.bg-silver      {background-color: var(--silver);}
.bg-cream       {background-color: var(--cream);}
.bg-teal        {background-color: var(--teal);}
.bg-royal       {background-color: var(--royal);}
.bg-redOrange   {background-color: var(--redOrange);}
.bg-sky         {background-color: var(--sky);}
.bg-marigold    {background-color: var(--marigold);}
.bg-storm       {background-color: var(--storm);}
.bg-salmon      {background-color: var(--salmon);}
.bg-navy        {background-color: var(--navy);}
.bg-ethos       {background-color: var(--ethos);}
.bg-gray        {background-color: #333;}

h1 {font-size: 3.25rem;}

/* layout-1: no image */
.layout-1 .img {height: 0;}
.layout-1 h1 {font-size: 3.75rem;}

/* layout-2: 1/3 image */
.layout-2 .img {height: 33.33%;}

/* layout-3: 1/2 image */
.layout-3 .img {height: 50%;}
/* .layout-2 h1,
.layout-3 h1 {font-size: 3.25rem;} */

.layout-4 .img {height: auto; flex-grow: 1;}
.layout-4 .text {height: auto; flex-grow: 0;}

/* reverse text and image */
.reverse {flex-direction: column-reverse;}
.reverse .text {padding-top: 5rem;}

.layout-4.reverse .text {padding-top: 2rem;}
.layout-4.reverse .logo {top: auto; bottom: 1rem;}

.scheme-1 {background-color: var(--maroon);}
.scheme-2 {background-color: var(--teal);}
    .scheme-2 h4 {color: var(--sky);}
.scheme-3 {background-color: var(--royal);}
.scheme-4 {background-color: var(--redOrange);}
    .scheme-4 h4 {color: var(--maroon);}
.scheme-5 {background-color: var(--sky);}
    .scheme-5 h4 {color: var(--redOrange);}
    .scheme-5 h1 {color: var(--teal);}
.scheme-6 {background-color: var(--marigold);}
    .scheme-6 h4 {color: white;}
    .scheme-6 h1 {color: var(--maroon);}
.scheme-7 {background-color: var(--storm);}
    .scheme-7 h4 {color: var(--maroon)}
.scheme-8 {background-color: var(--dark-maroon);}
    .scheme-8 h4 {color: var(--redOrange);}
.scheme-9 {background-color: var(--silver);}
    .scheme-9 h4 {color: var(--storm);}
    .scheme-9 h1 {color: var(--maroon);}
.scheme-10 {background-color: var(--cream);}
    .scheme-10 h4 {color: var(--redOrange);}
    .scheme-10 h1 {color: var(--maroon);}
.scheme-11 {background-color: var(--salmon);}
    .scheme-11 h4 {color: white;}
    .scheme-11 h1 {color: var(--maroon);}
.scheme-12 {background-color: var(--navy);}
    .scheme-12 h4 {color: var(--sky);}
    .scheme-12 h1 {color: white;}
.scheme-13 {background-color: var(--ethos);}
    .scheme-13 h4 {color: var(--teal);}
    .scheme-14 h1 {color: white;}
.scheme-14 {background-color: white;}
    .scheme-14 h4 {color: var(--redOrange);}
    .scheme-14 h1 {color: var(--maroon);}
