<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Story Maker</title>
    <link
      zhref="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://use.typekit.net/nyp5qmz.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link href="app.css?v=1.1" rel="stylesheet" />
    <script
      zsrc="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"
      src="https://cdn.jsdelivr.net/npm/vue@3.1.1/dist/vue.global.prod.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app" class="flex flex-row-reverse min-h-screen">
      <!-- <div class="fixed top-0 left-0 bg-royal h-2 transform transition-all" :style="{width: progress + '%'}"></div> -->

      <div id="tools" class="bg-gray p-8 pb-36 w-1/4">
        <div class="sticky top-8">
          <label
            for="textD"
            class="uppercase text-sm text-white tracking-widest mb-1 block"
            >Book Chapter:Verse</label
          >
          <textarea
            id="textD"
            class="block w-full rounded-sm p-3 mb-8"
            maxlength="50"
            v-model="textD"
            rows="1"
          ></textarea>

          <label
            for="textA"
            class="uppercase text-sm text-white tracking-widest mb-1 block"
            >Verse</label
          >
          <textarea
            id="textA"
            class="block w-full rounded-sm p-3 mb-4"
            maxlength="300"
            v-model="textA"
            rows="3"
          ></textarea>

          <!-- color schemes -->

          <h2 class="uppercase text-sm text-white tracking-widest mb-1">
            Color Scheme
          </h2>
          <div class="flex flex-wrap -m-1 mb-8">
            <a
              href="#"
              @click.prevent="scheme = 'scheme-1'"
              class="bg-royal w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-1' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-2'"
              class="bg-cream w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-2' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-3'"
              class="bg-storm w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-3' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-4'"
              class="bg-ethos w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-4' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-5'"
              class="bg-marigold w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-5' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-6'"
              class="bg-silver w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-6' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-7'"
              class="bg-dark-maroon w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-7' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-8'"
              class="bg-teal w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-8' ? 'active' : ''"
            ></a>
            <a
              href="#"
              @click.prevent="scheme = 'scheme-9'"
              class="bg-maroon w-10 h-10 rounded-full border-4 border-white m-1"
              :class="scheme === 'scheme-9' ? 'active' : ''"
            ></a>
          </div>
          <!-- /color schemes -->

          <div
            class="
              fixed
              bottom-0
              right-0
              p-8
              w-1/4
              bg-gray
              border-t border-opacity-20 border-white
            "
          >
            <a
              href="#"
              @click.prevent="build"
              class="
                uppercase
                text-sm text-white
                tracking-widest
                mb-1
                block
                bg-royal
                p-6
                text-center
                cursor-pointer
              "
              >&darr; Download
            </a>
          </div>
        </div>
      </div>

      <!-- viewport -->
      <div
        id="viewport"
        class="
          bg-gray-100
          p-8
          flex-1 flex
          items-center
          justify-center
          flex-wrap
        "
      >
        <code
          class="
            fixed
            top-0
            left-0
            text-sm
            p-3
            bg-black
            text-white
            bg-opacity-50
          "
          >{{layout}} | {{scheme}}</code
        >

        <!-- ig canvas -->
        <div class="m-4">
          <div id="ig" class="relative overflow-hidden" :class="scheme, layout">
            <svg
              class="logo absolute right-0 z-10"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Layer_1"
              x="0px"
              y="0px"
              viewBox="0 0 411.1 266.3"
              style="enable-background: new 0 0 411.1 266.3"
              xml:space="preserve"
            >
              <g>
                <g transform="translate(-1508.861 -8196.49)">
                  <path
                    class="logo-fill"
                    d="M1646,8396.2c-37.9,0-68.6-29.8-68.6-66.6s30.7-66.6,68.6-66.6s68.6,29.8,68.6,66.6    S1683.9,8396.2,1646,8396.2 M1920,8263.1L1920,8263.1l0-66.6c-73.4,0-133.4,55.9-137.1,126.3c-3.7-70.3-63.6-126.2-137-126.2    c-75.7,0-137.1,59.6-137.1,133.1s61.4,133.1,137.1,133.1c73.4,0,133.3-55.9,137-126.2c3.7,70.4,63.6,126.3,137.1,126.3v-66.6h0    c-37.8,0-68.6-29.9-68.6-66.6S1882.2,8263.1,1920,8263.1"
                  ></path>
                </g>
              </g>
            </svg>

            <div class="text">
              <div class="text-d">{{ textD }}</div>
              <div class="text-a flex">
                <span>&ldquo;</span><span class="cap">{{ textA }}&rdquo;</span></span>
              </div>
            </div>
          </div>
        </div>
        <!-- /ig canvas -->

        <!-- fb canvas -->
        <div class="m-4">
          <div id="fb" class="relative overflow-hidden" :class="scheme, layout">
            <svg
              class="logo absolute right-0 z-10"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Layer_1"
              x="0px"
              y="0px"
              viewBox="0 0 411.1 266.3"
              style="enable-background: new 0 0 411.1 266.3"
              xml:space="preserve"
            >
              <g>
                <g transform="translate(-1508.861 -8196.49)">
                  <path
                    class="logo-fill"
                    d="M1646,8396.2c-37.9,0-68.6-29.8-68.6-66.6s30.7-66.6,68.6-66.6s68.6,29.8,68.6,66.6    S1683.9,8396.2,1646,8396.2 M1920,8263.1L1920,8263.1l0-66.6c-73.4,0-133.4,55.9-137.1,126.3c-3.7-70.3-63.6-126.2-137-126.2    c-75.7,0-137.1,59.6-137.1,133.1s61.4,133.1,137.1,133.1c73.4,0,133.3-55.9,137-126.2c3.7,70.4,63.6,126.3,137.1,126.3v-66.6h0    c-37.8,0-68.6-29.9-68.6-66.6S1882.2,8263.1,1920,8263.1"
                  ></path>
                </g>
              </g>
            </svg>

            <div class="text">
              <div class="text-d">{{ textD }}</div>
              <div class="text-a flex">
                <span>&ldquo;</span><span class="cap">{{ textA }}&rdquo;</span></span>
              </div>
            </div>
          </div>
        </div>

        <!-- /fb canvas -->
      </div>
      <!-- / viewport -->
    
      <div>{{ fetchVerse }}</div>
    
    </div>

    <script>
      const app = {
        data() {
          return {
            textA: "Therefore, if anyone is in Christ, he is a new creation. The old has passed away; behold, the new has come.",
            textD: "2 Corinthians 5:17",
            scheme: "scheme-1",
            layout: "layout-3",
          };
        },
        methods: {
          uploadImage(e) {
            const image = e.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = (e) => {
              this.img = e.target.result;
              this.layout =
                this.layout === "layout-1" ? "layout-3" : this.layout;
            };
          },
          save(format) {
            const el = format;
            const scale = 3;
            const canvas = document.getElementById(el);
            domtoimage
              .toPng(canvas, {
                quality: 1,
                width: canvas.clientWidth * scale,
                height: canvas.clientHeight * scale,
                style: {
                  transform: "scale(" + scale + ")",
                  transformOrigin: "top left",
                  width: canvas.offsetWidth + "px",
                  height: canvas.offsetHeight + "px",
                },
              })
              .then(function (dataUrl) {
                var link = document.createElement("a");
                link.download = "verse_" + format + ".png";
                link.href = dataUrl;
                link.click();
              });
            // alert(format);
          },
          build() {
            this.save("ig");
            this.save("fb");
          },
        },
        computed: {
          textBSplit() {
            // return "$" + this.textB;
            return this.textB.replace(
              /(?![^<]*>)[^<]/g,
              (c) => `<span>${c}</span>\n`
            );
          },
          fetchVerse() {
            fetch('https://api.esv.org/v3/passage/text/?include-passage-references=false&include-verse-numbers=false&include-first-verse-numbers=false&include-footnotes=false&include-footnote-body=false&include-headings=false&include-short-copyright=false&include-selahs=false&indent-paragraphs=0&indent-poetry=false&indent-poetry-lines=0&indent-declares=0&indent-psalm-doxology=0&line-length=0&q='+this.textD , {
              method: 'GET',
              headers: {
                'Authorization': 'c0d12f22d14a88a816d7c64884264c029aec30c4'
              },
            })
            .then(response => {
              if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
              }
              return response.json();
            })
            .then(data => {
              console.log('Data received:', data);
              console.log(data.passages[0]);
              // this.textA = data.passages[0].replace(/(\r\n|\n|\r)/gm, "");
              this.textA = data.passages[0].trim();
            })
            .catch(error => {
              console.error('There was an error:', error);
            });
          },
        },
        mounted() {},
      };

      Vue.createApp(app).mount("#app");
    </script>


<!-- <script>
fetch('https://api.esv.org/v3/passage/text/?include-passage-references=false&include-verse-numbers=false&include-first-verse-numbers=false&include-footnotes=false&include-footnote-body=false&include-headings=false&include-short-copyright=false&include-selahs=false&indent-paragraphs=0&indent-poetry=false&indent-poetry-lines=0&indent-declares=0&indent-psalm-doxology=0&line-length=0&q=Romans+5:8', {
  method: 'GET',
  headers: {
    'Authorization': 'c0d12f22d14a88a816d7c64884264c029aec30c4'
  },
})
.then(response => {
  if (!response.ok) {
    throw new Error(`HTTP error! status: ${response.status}`);
  }
  return response.json();
})
.then(data => {
  console.log('Data received:', data);
})
.catch(error => {
  console.error('There was an error:', error);
});
</script> -->

</body>
</html>
